streamlit==1.37.1
numpy==1.26.4
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
transformers==4.41.2
tokenizers==0.19.1
safetensors>=0.4.3
faster-whisper==1.0.3
soundfile==0.12.1
sentencepiece==0.2.0
huggingface-hub>=0.23.0